annotated-types
anyio
attrs
autopep8
cffi
click
cryptography
exceptiongroup
fastapi
fastapi-pagination
flake8
flake8-bugbear
h11
idna
mccabe
peewee
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
PyMySQL
python-dotenv
sniffio
starlette
tomli
typing_extensions
uvicorn
